<nav>
  <div class="nav-links">
  <a class="nav-logo" href="/stories">LOGO</a>




    <div class="nav-story">
      <a class="nav-mine" href="/user/:id">
      <span><span class="navWrite">My</span> Stories</span>

    </a>
    </div>




    <div class="nav-story">
      <a class="nav-create" href="/stories/new">
      <span><span class="navWrite">Create</span> A Story</span>
    </a>
    </div>

</div>



    <div class="nav-user">
    <h5 class="navbar-nav"> Username</h5>
    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar">
  </div>
</nav>
