 /* VARIABLE LIST*/
 $background-colour: #f5f3f0;
 $textColor: #2e291e;
 $interactableColour: #4d693f;
 $highlightColour: #678c54;
 $boxShadow: rgba(102, 95, 82, 0.2);

 @mixin boxHover(){
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 4px 6px rgba(102, 95, 82, 0.3);
  transform: translateY(-2px);
 }

@mixin boxFocus(){
  transition-duration: .05s;
  border: 2px solid;
  border-color: $highlightColour;
  box-shadow: 0 4px 6px rgba(102, 95, 82, 0.3);
  transform: translateY(-2px);
}
