 /* VARIABLE LIST*/
 $background-colour: #f5f3f0;

 $interactableColour: #678c54;;
 $highlightColour: #8ECAE6;
 $bannerColour: #ffb703;
 $background-texture: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
