@import 'variables';

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $textColor;

  #myStory {
    box-shadow: 0 6px 8px rgba(102, 95, 82, 0.2);
    outline: none;
    border-radius: 4px;
    width: 100%;
    padding: 25px;
    padding-block: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    width: 1062.95px;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    background-color: lighten(#f5f3f0, 3%);

    &:hover {
      transition-duration: .2s;
      transition-timing-function: ease-in-out;
      box-shadow: 0 4px 6px rgba(102, 95, 82, 0.3);

    }


    p.title {
      font-size: 3.5rem;
      font-weight: 700;
      margin-block: 1rem;
    }

    p {
      font-size: 1.5rem;
    }

    footer {
      font-size: 1.5rem;
      width: 100%;

      .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $interactableColour;

        i.report {
          color: darkred;
          transition-duration: .2s;
          transition-timing-function: ease-in-out;

          &:hover {
            transition-duration: .2s;
            transition-timing-function: ease-in-out;
            transform: translateY(-2px);
            color: red;
            cursor: pointer;

            &:active {
              transform: translateY(0.05em);
            }
          }
        }
      }
    }
  }

  .border {
    border-top: 1px solid;
    margin-inline: 2rem;

  }

  .contribution {
    box-shadow: 0 6px 8px rgba(102, 95, 82, 0.2);
    outline: none;
    border-radius: 4px;
    width: 100%;
    padding: 25px;
    padding-block: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    margin-top: 2rem;
    width: 1062.95px;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    background-color: lighten(#f5f3f0, 3%);

    &:hover {
      transition-duration: .2s;
      transition-timing-function: ease-in-out;
      box-shadow: 0 4px 6px rgba(102, 95, 82, 0.3);

    }

    p {
      font-size: 1.5rem;
    }

    footer {
      form {
        display: flex;
        height: 100%;
      }

      font-size: 1.5rem;
      width: 100%;

      button.add {

        border-radius: 4px;
        border: 0;
        cursor: pointer;
        outline: none;
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        box-shadow: 0 2px 4px rgba(102, 95, 82, 0.2);
        padding: 8px;
        margin-bottom: 5px;
        width: 200px;
        background-color: #4d693f;
        color: #fff;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        margin-inline: .75rem;

        &:hover {
          transition-duration: .2s;
          transition-timing-function: ease-in-out;
          box-shadow: 0 4px 6px rgba(102, 95, 82, 0.3);
          transform: translateY(-2px);
          background-color: #678c54;
          color: #fff;
        }

        &:active {
          background-color: #4d693f;
          box-shadow: 0 2px 4px rgba(102, 95, 82, 0.2);
          transform: translateY(0.05em);
        }
      }

      div.rating {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      div.icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $interactableColour;

        button.vote {
          padding: 0;
          font-size: 1.5rem;
          color: $interactableColour;
          background-color: transparent;
          border: none;
          transition-duration: .2s;
          transition-timing-function: ease-in-out;

          &:hover {
            transition-duration: .2s;
            transition-timing-function: ease-in-out;
            transform: translateY(-2px);
            color: #678c54;
            cursor: pointer;
          }

          &:active {
            color: #4d693f;
            transform: translateY(0.05em);
          }
        }

        button.fa-arrow-down {
          transition-duration: .2s;
          transition-timing-function: ease-in-out;

          &:hover {
            transition-duration: .2s;
            transition-timing-function: ease-in-out;
            transform: translateY(2px);
            color: #678c54;
            cursor: pointer;
          }

          &:active {
            color: #4d693f;
            transform: translateY(5px);
          }
        }

        span {
          padding-right: 6px;
          color: $textColor;
          font-weight: 700;
          font-size: 1.5rem;

          &:hover {
            cursor: default;


          }

        }

        i.report {
          color: darkred;
          transition-duration: .2s;
          transition-timing-function: ease-in-out;

          &:hover {
            transition-duration: .2s;
            transition-timing-function: ease-in-out;
            transform: translateY(-2px);
            color: red;
            cursor: pointer;

            &:active {
              transform: translateY(0.05em);
            }
          }
        }

      }

    }
  }

  div.bottom {
    margin: 30px;
  }

}

div.select {
  display: flex;
  flex-direction: row;
}

div.hidden {
  display: none
}

.scrollTop {
  opacity: 0.5;
  color: inherit;
  text-decoration: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  background-color: $interactableColour;
  position: fixed;
  bottom: 300px;
  right: 25px;
  border-radius: 4px;
}

.scrollTop:hover {
  background-color: $highlightColour;
}

.scrollTop:active {
  transform: translateY(0.15em);
}

.scrollTop:hover .fa-angles-up {
  animation: bounce-2 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce-2 {

  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-8px);
  }

  60% {
    transform: translateY(-16px);
  }
}

.fa-angles-up {
  color: $background-colour;
  font-size: 2rem;
}

#myStory.stationary {
  transition: .5s;
  z-index: 1;
  position: sticky;
  top: 0;
  box-shadow: 0 10px 5px rgba(102, 95, 82, 0.2);
}

div.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.showText {
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(102, 95, 82, 0.2);
  padding: 16px;
  margin-block: 20px;
  width: 300px;
  background-color: #4d693f;
  color: #fff;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  margin-inline: .75rem;
}

button.showText:hover {
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 4px 6px rgba(102, 95, 82, 0.3);
  transform: translateY(-2px);
  background-color: #678c54;
  color: #fff;
}

button.showText:active {
  background-color: #4d693f;
  box-shadow: 0 2px 4px rgba(102, 95, 82, 0.2);
  transform: translateY(0.05em);
}

section.new-add {
  font-size: 1.5rem;
  display: none
}

div.addText {
  display: flex;
  flex-direction: column;
  height: 168px;
  margin: 0;

}

#add-text {
  border: 2px solid transparent;
  box-shadow: 0 2px 4px rgba(102, 95, 82, 0.2);
  outline: none;
  border-radius: 4px;
  width: 100%;
  padding: 16px;
  height: 200%;
  letter-spacing: 0.2px;
  font-size: 1.3rem;
  resize: none;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
  font-family: $font-family;

  &:hover {
    @include boxHover;

  }

  &:focus {
    @include boxFocus;
  }

}

section button.addButton {
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(102, 95, 82, 0.2);
  padding: 8px;
  margin-block: 20px;
  width: 200px;
  background-color: #4d693f;
  color: #fff;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  margin-inline: .75rem;
}

section button.addButton:hover {
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 4px 6px rgba(102, 95, 82, 0.3);
  transform: translateY(-2px);
  background-color: #678c54;
  color: #fff;
}

section button.addButton:active {
  background-color: #4d693f;
  box-shadow: 0 2px 4px rgba(102, 95, 82, 0.2);
  transform: translateY(0.05em);
}


div.theEnd {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;

}

div.dot1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;
  animation: bounce-up 2s;
  animation-iteration-count: infinite;
}

div.dot2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;

  animation: bounce-up 2s;
  animation-iteration-count: infinite;
  animation-delay: .27s;
}

div.dot3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;

  animation: bounce-up 2s;
  animation-iteration-count: infinite;
  animation-delay: .55s;
}

@keyframes bounce-up {

  0%,
  25%,
  50%,
  75%,
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, -14px);
  }

  100% {
    transform: translate(0, -0px);
  }

}

#vaiableCounter {
  text-align: center;
  width: 24px;
  align-items: center;
  text-align: end;
}

button.add {

  border-radius: 4px;
  border: 0;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(102, 95, 82, 0.2);
  padding: 8px;
  margin-bottom: 5px;
  width: 200px;
  background-color: #4d693f;
  color: #fff;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  margin-inline: .75rem;

  &:hover {
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 4px 6px rgba(102, 95, 82, 0.3);
    transform: translateY(-2px);
    background-color: #678c54;
    color: #fff;
  }

  &:active {
    background-color: #4d693f;
    box-shadow: 0 2px 4px rgba(102, 95, 82, 0.2);
    transform: translateY(0.05em);
  }
}

.ending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endTitle {
  letter-spacing: 0.2px;
  font-size: 1.7rem;
  margin-bottom: 0px;
  ;
}

.endSecondTitle {
  letter-spacing: 0.2px;
  font-size: 1.4rem;
  margin-bottom: 0px;
}

.storyUserNames {
  letter-spacing: 0.2px;
  font-size: 1.3rem;
  margin-block: 10px;
}
